<div class="container">
  <table *ngIf="teams" class="content-table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Games</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>Goal Difference</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr
        (click)="goToLastFixtures(team.team.id)"
        *ngFor="let team of teams; let i = index"
      >
        <td data-cell="Rank">{{ team.rank }}</td>
        <td data-cell="Team">
          <img class="logo" [src]="team.team.logo" alt="" />
        </td>
        <td data-cell="Name">{{ team.team.name }}</td>
        <td data-cell="Matches Played">{{ team.all.played }}</td>
        <td data-cell="Win">{{ team.all.win }}</td>
        <td data-cell="Loss">{{ team.all.lose }}</td>
        <td data-cell="Draw">{{ team.all.draw }}</td>
        <td data-cell="Goal Difference">{{ team.goalsDiff }}</td>
        <td data-cell="Points">{{ team.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
