* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 60%;
  position: absolute;
  top: 5%;
  background-color: #009879;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  margin: 15px 25px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(252, 252, 252);
  font-weight: 600;
  letter-spacing: 1px;
}

nav ul li a:hover {
  text-decoration: underline;
}

table {
  background-color: white;
  width: 60%;
}

app-leaderboard {
  position: absolute;
  top: 15%;
}

@media (max-width: 980px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
}
