<div class="container">
  <main class="content-card">
    <div class="line-content">
      <span>liverpool </span> <span>3</span> <span>-</span> <span>0</span>
      <span>Aston Villa</span>
    </div>
    <div class="line-content">
      <span>liverpool </span> <span>3</span> <span>-</span> <span>0</span>
      <span>Aston Villa</span>
    </div>
    <div class="line-content">
      <span>liverpool </span> <span>3</span> <span>-</span> <span>0</span>
      <span>Aston Villa</span>
    </div>
    <div class="line-content">
      <span>liverpool </span> <span>3</span> <span>-</span> <span>0</span>
      <span>Aston Villa</span>
    </div>
    <div class="line-content">
      <span>liverpool </span> <span>3</span> <span>-</span> <span>0</span>
      <span>Aston Villa</span>
    </div>
    <div class="line-content">
      <span>liverpool </span> <span>3</span> <span>-</span> <span>0</span>
      <span>Aston Villa</span>
    </div>
  </main>
</div>
