.container {
  width: 100vw;
  min-height: 100vh;
  /* background-color: #31504a; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-card {
  margin-top: 200px;
  background-color: white;
  width: 60%;
  /* min-height: 500px; */
  border-radius: 15px;
  padding: 50px;
}

.line-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

button {
  padding: 10px 35px;
  background-color: #aaa;
  color: white;
  font-size: 18px;
  margin: 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.home {
  width: 150px;
}
.away {
  width: 150px;
}

img {
  width: 30px;
}

@media (max-width: 980px) {
  .content-card {
    margin-top: 400px;
  }
}

@media (max-width: 750px) {
  .line-content {
    justify-content: space-evenly;
    font-size: 12px;
  }
}
